################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Code/v17
/ESign/obj/Debug
/Test/obj/Debug
/Supor.Process.Common/obj/Debug
/Supor.Process.Domain/obj/Debug
/Supor.Process.Entity/obj/Debug
/Supor.Process.Services/obj/Debug
/Supor.Process.Api/.vs/Supor.Process.Api
/Supor.Process.Api/obj/Debug
/Supor.Process.Common/bin/Debug
/Supor.Process.Services/bin/Debug
/ESign/bin/Debug
/Test/bin/Debug
/ESign/bin
/Test/bin
/Supor.Process.Common/bin
/Supor.Process.Domain/bin
/Supor.Process.Entity/bin
/Supor.Process.Services/bin
/Supor.Process.Api/log
/Supor.Process.Api/Log
*.log
*.tmp
/Supor.Process.Api/bin
/Supor.Process.Api/packages
