################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Supor.Process.Api/logs
/Supor.Process.Api/bin
/Supor.Process.Api/obj
/Supor.Process.Api/packages


/Supor.Process.Common/logs
/Supor.Process.Common/bin
/Supor.Process.Common/obj
/Supor.Process.Common/packages


/Supor.Process.Domain/logs
/Supor.Process.Domain/bin
/Supor.Process.Domain/obj
/Supor.Process.Domain/packages

/Supor.Process.Entity/logs
/Supor.Process.Entity/bin
/Supor.Process.Entity/obj
/Supor.Process.Entity/packages

/Supor.Process.Services/logs
/Supor.Process.Services/bin
/Supor.Process.Services/obj
/Supor.Process.Services/packages
/Supor.Process.Api/.vs
/Supor.Process.Common/.vs
/.vs/Supor.Process.Api/v17
/Supor.Process.Domain/.vs
/Supor.Process.Entity/.vs
/Supor.Process.Services/.vs
